{% extends "base.html" %}
{% block content %}
<h2>Manage Students</h2>

<a href="{{ url_for('admin_add_student') }}">+ Add New Student</a>

<ul>
{% for s in students %}
  <li>
    {{ s.enrol_no }} - {{ s.name }} ({{ s.year }} {{ s.section }})
    <form method="POST" 
      action="{{ url_for('admin_delete_student', enrol_no=s.enrol_no) }}" 
      class="inline">
  <button type="submit" class="btn-icon" onclick="return confirm('Delete {{ s.name }}?')">
    🗑
  </button>
</form>

  </li>
{% endfor %}
</ul>



<a href="{{ url_for('dashboard_admin') }}">Back to Dashboard</a>
{% endblock %}
