<!DOCTYPE html>
<html>
<head>
  <title>Attendance Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
      <p style="color:red">{{ msg }}</p>
    {% endfor %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
</html>
